.page-header
  = render "layouts/albums_nav_bar"
  %h3.pull-left
    Albums
  =link_to "New Album",new_album_path, :class=>'pull-right'

%ul.unstyled
  =render :partial=>@albums,:spacer_template => "horizontal_rule"


