// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album-box{
  width: 200px;
  height: 200px;
  background: #666666;
  margin: 10px;
  position: relative;
  .album-footer{
   height: 30px;
    text-align: center;
   position: absolute;
   bottom: 0;
   background: #777;
    width: 100%;
  }
}
.actions-list{
  ul{
    list-style: none;
    li{
      float: left;
      margin: 0 5px;
    }
  }
}